.header {
  // Phần 1
  .navbar-brand {
    flex-grow: 1;
    img {
      width: 110px;
    }
  }
  .categories {
    flex-grow: 1;
    @include text($color-black-light, $fs-1, $fw-normal);
  }

  .input-search {
    flex-grow: 5;
    .input-group {
      .form-control {
        background-color: $color-gray-1;
        border: none;
        transition: none;
        &::placeholder {
          @include text($color-black-light, $fs-1, $fw-normal);
        }
        &:focus {
          background-color: $color-white-0;
          border: 1px solid $color-gray-2;
          box-shadow: none;
          & + .input-group-append {
            .input-group-text {
              background-color: $color-white-0;
              border: 1px solid $color-gray-2;
              box-shadow: none;
              border-left: none;
            }
          }
          & + .input-group-append:hover {
            .input-group-text {
              background-color: $color-red-0;
            }
            i {
              color: $color-white-0;
            }
          }
        }
      }
      .input-group-append {
        cursor: pointer;
        .input-group-text {
          background-color: $color-gray-1;
          border: none;
          i {
            color: $color-red-0;
          }
        }

        &:hover {
          .input-group-text {
            background-color: $color-red-0;
          }
          i {
            color: $color-white-0;
          }
        }
      }
    }
  }

  //   Phần 2
  .bussiness,
  .instructor {
    position: relative;
    .link-title{
        @include text($color-black-0, $fs-1, $fw-normal);
    }
    .overlay {
      display: none;
      position: absolute;
      background-color: $color-white-0;
      top: 56px;
      left: -100%;
    }

    &:hover {
      background-color: $color-gray-1;
      .overlay {
        display: block;
        z-index: 2;
      }
    }
  }
}
